
/* CSS RESET & BASE STYLES */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    position: relative;

}

.wrapper {
    position: relative;
    overflow-x: hidden;
}

.header {
    height: auto;
    padding-bottom: 10rem;
}

/* MAIN NAV STUFF */

.main-nav {
    /* background-color: aquamarine; */
    display: flex;
    padding: 1rem 2rem;
    /*align-items: center; */
    justify-content: space-between; /* test */
    
}

.main-nav__stuff-box {
    /* background-color: lightgreen; */
    width: 100%;
    display: flex;
    /* flex-direction: column; test */
    justify-content: space-between;
    align-items: center;
    /* height: 80vh; test */
}

.list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* flex-direction: column; test */
    width: 55rem;
    /* height: 30vh;   test */
    padding-left: 1rem;
    /* background-color: burlywood; */
}

.list-item {
    padding: 1.6rem .5rem;
    cursor: pointer;
    position: relative;
}

.list-link {
    text-decoration: none;
    font-size: 1.3rem;
    color: #000;
    font-weight: 500;
    
    /* background-color: brown; */
}

.list-item::before {
    content: "";
    position: absolute;
    bottom: 1rem;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #3d3d3d;
    transform: scaleX(0);
    opacity: 0;
    transition: all .3s ease-in;
}

.list-item:hover::before {
    transform: scaleX(1);
    opacity: 1;
}

/* NAV ICON */
.nav-icon {
    width: .8rem;
    height: .8rem;
    fill: #3d3d3d;
    transform: translate(.4rem, .5px);
}

/* LOGO */
.logo {
    width: 5rem;
}

/* NAV INFO */
.nav-info {
    
}

.nav-info__text {
    display: none
}

.btn {
    cursor: pointer;
    border: 0;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.3rem;
    padding: .8rem 1rem;
}

.btn-box {
    display: flex;
    width: 30rem;
    justify-content: space-between;
}

.btn--primary {
    background: #f224f2;
    color: #fff;
    transition: all .3s;
}

.btn--primary:hover {
    background-color: #a310a3;
}

.btn--secondary {
    background: #fff;
    border: 1px solid #000;
    padding: .89rem 1rem;
    transition: all .3s;  
}

.btn--secondary:hover {
    box-shadow: 0 0rem 1.5rem rgba(163, 16, 163, .7);
}

.btn--tertiary {
    background: transparent;
    transition: all .3s;
} 

.btn--tertiary:hover {
    color: #f224f2;
}

.package {
    display: flex;
}

.cta {
    display: none;
    margin-right: 2rem;
}

/* BURGER */
.burger {
    position: relative;
    z-index: 10;
    display: none;
    align-self: center;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 1rem;
    cursor: pointer;
} 

.delete .line1 {
    transform: translateY(.6rem) rotate(135deg);
}

.delete .line2 {
    opacity: 0;
}

.delete .line3 {
    transform: translateY(-.8rem) rotate(-135deg);
}

.line1,
.line2,
.line3 {
    transition: all .5s;
}

.burger div {
    height: 2px;
    width: 2rem;
    background: #000;
    margin: 5px;
}

/* ON CLICK APPEAR BG */
.background {
    position: absolute;
    transition: background-color .3s;
}

.add-bg {
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(3px);
    background-color: rgba(201, 109, 109, 0.1);
}

/* DROPDOWN */
.dropdown {
    position: relative;
}

.dropdown:hover  .addHover {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 4rem;
    width: 100vw;
    padding: 0 2rem;
    padding-top: 6rem;
    padding-bottom: 4rem;
    display: grid;
    border-bottom: 1px solid #b9b9b9;
    background-color: #fff;
    transform: translateY(5rem);
    transition: all .3s;
}

.dropdown-menu--1 {
    grid-template-columns: repeat(4, 22%);
    justify-content: space-between;
    left: -8.9rem;
}

.dropdown-menu--2 {
    grid-template-columns: minmax(min-content, 35rem) 70%;
    justify-content: space-between;
    left: -25.6rem;
}

.dropdown__text {
    align-self: center;
}

.service-boxes {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, minmax(min-content, 22rem));
}

.box {
    background-color: #fff;
    box-shadow: 0 0 .5rem rgba(0,0,0, .5);
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

.box:hover {
    box-shadow: 0 0 2rem rgba(0,0,0, .3);
}
@media only screen and (max-width: 1180px) {
    .box {
        height: 16rem;
    }

    .service-boxes {
        grid-template-columns: repeat(4, minmax(min-content, 18rem));
    }
} 

.box:not(:last-child) {
    margin-right: 1rem;
}

.box img {
    width: 8rem;
}

.box .woo-commerce {
    width: 11rem;
}

/* DROPDOWN 3 */
.dropdown-menu--3 {
    left: -55.5rem;

    display: grid;
    grid-template-columns: minmax(min-content, 32rem) minmax(min-content, 35rem) 1fr;
}

.grid-3 img {
    display: block;
    width: 100%;
}

.grid-3:not(:last-child) {
    margin-right: 4rem;
}

.pink-text {
    display: block;
    color: #f224f2;
    font-size: 1.5rem;
}

.grid-3 .para-big {
    font-size: 1.6rem;
}

/* GRID 3 1st Child */
.grid-3:first-child {
    align-self: center;
}

/* GRID 3 2nd CHild */
.grid-3:nth-child(2) {
    align-self: center;
}

/* GRID 3 Last Child */
.grid-3:last-child {
    display: grid;
    grid-template-columns: repeat(2, 20rem);
    justify-content: space-between;
    grid-row-gap: 2rem;
}

.we-give {
    display: flex;
    align-items: center;
}

.we-give-icon {
    height: 4.5rem;
    width: 4.5rem;
    margin-right: 1.5rem;
}

.we-give span {
    font-size: 1.6rem;
    font-weight: 500;
}

.dropdown-icon {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1.7rem;
}

.dropdown-link {
    font-size: 1.3rem;
    color: #000;
}

/* HEADERS */
.heading-4 {
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.paragraph {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

/* DROPDOWN MENU NAME */
.dropdown-menu-name-box { 
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    padding: 1.8rem 0;
    z-index: 10;
    padding-left: 4rem;
    margin-left: 2rem;
    font-size: 1.5rem;
    transition: all .5s;

    display: flex;
    align-items: center;
    display: none;
}

.removeOpacity {
    opacity: 1;
    visibility: visible;
}

.menu-name-icon {
    height: 1rem;
    width: 1rem;
    fill: #3d3d3d;
    transform: translate(-2rem, 1px)  rotate(90deg);
}

.appear-menu-name {
    opacity: 1;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1000px) {
    .main-nav__stuff-box {
        position: absolute;
        top: 0;
        right: 0;
        width: 35rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100vh; 
        /* padding-top: 5.8rem; */
        box-shadow: -.5rem 0 2rem rgba(0,0,0, .3);
        transform: translateX(40rem);
        transition: all .5s;
        background-color: #fff;
    }

    .dropdown-menu-name-box {
        display: flex;
    }

    .dropdown {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: none;
    }

    .cta {
        display: block;
    }
    
    .burger {
        display: block;
    }
    
    .list {
        border-top: 1px solid #e0e0e0;
        justify-content: space-around;
        /* align-items: center; */
        flex-direction: column;
        width: 100%;
        /* height: 30vh;   test */
        padding-left: 0;
        padding: 0 3rem;
        /* background-color: burlywood; */
    }
    
    .list-item {
        border-bottom: 1px solid #e0e0e0;
    }
    
    .list-item::before {
        display: none;
    }
    
    .nav-icon {
        transform: translate(0, 0) rotate(-90deg);
        height: 1.2rem;
        width: 1.2rem;
    }
    
    .nav-info {
        /* background: #4545; */
        padding: 2.5rem 5rem;
        padding-bottom: 0;
    }
    
    .nav-info__text {
        display: block;
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.2;
    }
    
    .btn-box {
        margin-top: 1.5rem;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        border-bottom: 1px solid #e0e0e0;
        position: relative;
    }
    
    .btn--tertiary {
        padding: 1.5rem 2rem;
    } 

    .menu-1-para,
    .menu-1-link {
        display: none;
    }

    .dropdown-menu {
        opacity: 1;
        visibility: visible;
        left: 20rem;
        border-bottom: none;
        transform: translate(50rem, 0);
    }

    .dropdown-menu--1 {
        z-index: 12;
        grid-template-columns: 1fr;
        top: 0;
        left: -3rem;
        width: 120%;
        padding: 0 2rem;
        height: 88vh;
        align-content: start;
    }

    .feature {
        display: grid;
        grid-column-gap: 1.5rem;
        align-items: center;
        grid-template-columns: repeat(2, max-content);
        border-bottom: 1px solid #e0e0e0;
        padding: 1rem 0;
       
    }

    .dropdown-icon {
        margin-bottom: 0rem;
    }

    .heading-4 {
        font-size: 1.3rem;
        margin-bottom: 0rem;
    }

    /* DROPDOWN MENU 2 */
    .dropdown-menu--2 {
        top: -9rem;
        width: 120%;
        grid-template-columns: 1fr;
        align-content: start;
        left: -3rem;
        z-index: 12;
        padding: 0 1.5rem;
        padding-top: 1rem;
        height: 88.5vh;
    }

    .service-boxes {
        order: -1;
        justify-content: space-between;        
        grid-template-columns: repeat(4, 7rem);
    }
    
    .box {
        background-color: #fff;
        box-shadow: 0 0 .5rem rgba(0,0,0, .5);
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .5s;
    }

    .box img {
        width: 80%;
    }

    .box .woo-commerce {
        width: 80%;
    }

    .box .code {
        width: 50%;
    }

    .box:not(:last-child) {
        margin-right: 0;
    }

    .dropdown__text {
        margin-top: 2.5rem;
    }

    .heading--light {
        font-size: 1.7rem;
        margin-bottom: 1.5rem;
    }

    .para-medium {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    /* DROPDOWN 3 */
    .dropdown-menu--3 {
        z-index: 12;
        top: -24rem;
        left: -3rem;
        width: 120%;
        grid-template-columns: 1fr;
        padding: 0 1.5rem;
        height: 89vh;
        align-content: start;
    }
    
    .grid-3:not(:last-child) {
        margin-right: 0;
    }
    
    /* GRID 3 1st Child */
    .grid-3:first-child {
        margin-bottom: 2rem;
    }
    
    /* GRID 3 Last Child */
    .grid-3:last-child {
        order: -1;
        grid-template-columns: repeat(2, 50%);
        justify-content: space-between;
        grid-row-gap: 0;
        margin-bottom: 2rem;
    }
    
    .we-give {
        border-bottom: 1px solid #e0e0e0;
        padding: 1rem 0;
    }
    
    .we-give-icon {
        height: 3rem;
        width: 3;
        margin-right: 0rem;
    }
    
    .we-give span {
        font-size: 1.4rem;
        font-weight: 500;
    }
    
} 

.slideIn {
    transform: translate(0);
}

/* ANIMATIONS */
@keyframes goRight {
    0% {
        opacity: 1;
        transform: translate(0)
    }

    100% {
        opacity: 0;
        transform: translateX(50rem);
    }
}

/* .addHover {
    
} */

/* VIDEO BG */
.video-bg-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .5;
}
.video-bg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* HEADER TEXT BOX */

.hero-image {
    display: block;
    width: 62rem;
    height: 50rem;
}

.header__text-stuff {
    display: grid;
    grid-template-columns: minmax(min-content, 60rem) minmax(min-content, 62rem);
    justify-content: space-between;
    align-items: center;
    padding: 4rem 4rem 0 4rem;
}

.left {
    margin-right: 2rem;
}
.right {

}

.heading-1 {
    font-size: 4.7rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 2.5rem;
}

.big-para {
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
}

.register {
    height: 5rem;
    display: flex;
    margin-bottom: 1rem;
}

.input {
    border: 0;
    font-family: inherit;
    height: 100%;
    width: 50%;
    padding-left: 2rem;
    border: 1px solid #000;
    border-right: 0;
}

.btn--header {
    height: 100%;
    width: 13rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0;
    line-height: 1;
}

.register-benefits {
    display: flex;
    margin-bottom: 1.8rem;
}

.benefit:not(:last-child) {
    margin-right: 2rem;
}

.tick {
    width: 1.6rem;
    margin-right: 1.1rem;
}

.benefit {
    display: flex;
    align-items: center;
}

.benefit span {
    font-size: 1.2rem;
    font-weight: 600;
}

.caution {
    font-size: 1.3rem;
    color: #5e5e5e;
    
}

@media only screen and (max-width: 1200px) {
    .hero-image {
        width: 54rem;
    }

    .header__text-stuff {
        grid-template-columns: minmax(min-content, 62rem) minmax(min-content, 54rem);
        padding: 4rem 0rem 0 4rem;
    }
}

@media only screen and (max-width: 1150px) {
    .input {
        width: 65%;
    }

    .hero-image {
        width: 50rem;
        height: 50rem;
    }

    .header__text-stuff {
        grid-template-columns: minmax(min-content, 58rem) minmax(min-content, 50rem);
        padding: 4rem 4rem 0 4rem;
    }

    .heading-1 {
        font-size: 4.4rem;
    }
    
    .big-para {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;
    }
}

@media only screen and (max-width: 1000px) {
    .input {
        width: 65%;
    }

    .left {
        /* padding: 0 10rem; */
        margin-right: 0;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left-center {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-image {
       width: 100%;
       height: 40rem;
       object-fit: cover;
    }

    .right {
        background-color: lightblue;
        
    }

    .header__text-stuff {
        grid-template-columns: 1fr;
        grid-row-gap: 7rem;
        padding: 8rem 4rem 0 4rem;
    }

    .heading-1 {
        text-align: center;
    }
    
    .big-para {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 2.5rem;
    }

    .input {
        width: 50vw;
    }
}

@media only screen and (max-width: 650px) {
    .left-center {
        width: 100%;
    }

    .header__text-stuff {
        padding: 8rem 2rem 0 2rem;
    }

    .input {
        width: 60vw;
    }
}